<!DOCTYPE html>
<html>
<head>
    <title>Emag Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
    <script src="{{url_for('static', filename='main.js')}}"></script>


</head>
<body>
    <h1 style="text-align: center; color: black;" onclick="firstFunction()" id="titleId">Available Products</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Store</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.store }}</td>
        </tr>
        {% endfor %}
    </table>


    <button onclick="display_add_product_form()" id = "button2" style="display: block;"> ADD Product </button>
    <br>
    <br>
    <br>


    <form id="add_product" action="/add_products" style="display: none" method="post">
            <label for="product_name">Product Name:</label>
            <input type="text" id="product_name" name="product_name" required><br>

            <label for="store">Store:</label>
            <input type="text" id="store" name="store" required><br>

            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required><br>

            <button type="submit" id="send">Send</button>
        </form>


    <button onclick="display_delete_product_form()" id="button3" style="display: block;">Delete Product</button>
    <br>
    <br>
    <form id="delete_product" action="/delete_product" style="display: none" method="post">
    <label for="delete_product_name">Product Name:</label>
    <input type="text" id="delete_product_name" name="product_name" required><br>
    <button type="submit">Delete</button>
</form>

    <br>

    <button onclick="display_update_price_form()" id="button4" style="display: block;">Update Price</button>
    <br>
    <form id="update_price" action="/update_price" style="display: none" method="post">
    <label for="update_product_name">Product Name:</label>
    <input type="text" id="update_product_name" name="product_name" required><br>
    <label for="new_price">New Price:</label>
    <input type="number" id="new_price" name="new_price" step="0.01" required><br>
    <button type="submit" >Update Price</button>
</form>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Logo_eMAG.svg/2560px-Logo_eMAG.svg.png" alt="Emag Logo" width="1300" height="350" id="logo_img">



</body>

</html>